html, body {
    background-color: rgba(248, 245, 233, 0.7);
    height: 100%;
}

aside {
    background-color: darkslategrey;
    color: whitesmoke;
    height: 100%;
    width: 220px;
}

canvas {
    background-color: white;
    border: 1px solid rgb(136, 117, 117);
    border-radius: 2px;
    margin: 0 auto;
    display: block;
}

.btn {
    background-color: goldenrod;
    color: darkslategrey;
    font-weight: 600;
}

.icon {
    font-size: 2.5em;
    text-align: center;
    width: 40px;
}

.selected {
    color: goldenrod;
}

.disabled {
    color: rgba(255, 255, 255, 0.5);
}

.hidden {
    display: none;
}

#font-size {
    width: 60px;
}

.color-picker-outer {
    background-color: white;
    border: 1px solid #ced4da;;
    border-radius: 4px;
    height: calc(1.5em + .75rem + 2px);
}

.color-picker-inner {
    background-color: white;
    border: 1px solid darkslategrey;
    border-radius: 4px;
}
